.day-1 {
    /* background-color: #0f172a; */
}

.day-1Container {
    /* background-color: #334155; */
}

.headingBody {
    /* background-color: #1e3a8a; */
}

.headingBlock {
    /* background-color: #2563eb; */
}

.headingBox {
    /* background-color: #60a5fa; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.headingBox h3 {
    /* background-color: #e0f2fe; */
}

.homeBox {
    /* background-color: #bae6fd; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
    justify-content: end;
}
.homeBox a {
    /* background-color: #bae6fd; */
    width: 20%;
    height: auto;
}
.homeBox a button {
    /* background-color: #bae6fd; */
}
.dayBody {
    /* background-color: #0ea5e9; */
}

.dayBlock {
    /* background-color: #0284c7; */
}

.dayBox {
    /* background-color: #0369a1; */
    width: 100%;
    height: auto;
}

.dayBox h1 {
    /* background-color: #e0f2fe; */
    padding: 2rem;
}
